<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PartyAnimals</title>
    <script src="https://kit.fontawesome.com/e1194a0c9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/animals">PartyAnimals</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/profiles">Members</a>
                <% if(!currentUser){ %>
                    <a class="nav-item nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/register">Sign Up</a>
                <% } else { %>
                    <a class="nav-item nav-link" href="/profiles/<%= currentUser._id %>">Signed in as <%=currentUser.username%></a>
                    <a class="nav-item nav-link" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
                <% } %>
            </div>
        </div>
    </nav>
    <div class="container">
        <%if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <%if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>
    
