<% include ../partials/header %>

<h1 class="text-center">MEMBER LIST</h1>
<div class="container">
    <div class="row">
            <% users.forEach(function(user){ %>
                <div class="col-lg-6">
                    <div class="card my-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="<%= user.image %>" class="card-img" alt="user image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="profiles/<%= user._id%>">
                                            <%= user.username %>
                                        </a>
                                    </h5>
                                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, ex.</p>
                                    <p class="card-text"><small class="text-muted"><%= user.location%></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
    </div>
</div>


<% include ../partials/footer %>