<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-12 text-center my-3">
            <h1>Register a new account</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form action="/register" method="POST">
                <div class="form-group mb-0">
                    <input class="form-control" type="text" name="username" placeholder="username" required>
                </div>
                <div class="form-group mb-0">
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="location" placeholder="location (city, country)" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">
                        SIGN UP
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>